<link href="~/css/folhadeestilo.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">Contatos</h1>
    <p>Comunique-se conosco</p>
</div>
<br />
<br />
<br />
<div>
    <h4>Telefone: 99 99999-9999</h4>
    <h4>Email: emailgenerico@gmail.com</h4>
</div>