
    <link href="~/css/folhadeestilo.css" rel="stylesheet" />
    <div class="text-center">
        <h1 class="display-4">Entregas</h1>
    <p>As entregas são realizadas no dia e horário agendados.</p>
    </div>
    <br />
<br />
<br />
    <div>
    <h4>Direto para sua casa;</h4>
    <h4>Entregamos pra toda grande SP</h4>
    </div>