@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Conheça Nosso Cardápio</h1>
    <p>Deguste das melhores gostosuras do mundo</p>
</div>
<br />
<div>
    <img src="~/img/bolo.jpg" />
    <h3>Bolos</h3>
</div>
<br />
<div>
    <img src="~/img/doces-festa.jpg" />
    <h3>Kit Festa</h3>
</div>
<br />
<div>
    <img src="~/img/gelato.jpg" />
    <h3>Sorvetes</h3>
</div>
<br />
<div>
    <img src="~/img/torta.jpg" />
    <h3>Tortas</h3>
</div>